.main_div {
    margin: 10pt;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10pt;
}

.button_area {
    width: 100%;
    height: 170pt;
    margin: 0;
}

.button_caption {
    font-size: 14pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 2pt;
}

.button_icon_p {
    text-align: center;
}
