.main_div {
    margin: 10pt;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10pt;
}

.button_area {
    width: 100%;
    height: 100%;
    margin: 0;
}
