.main_div {
    margin: 0pt;
}

.content_div {
    margin: 10pt;
}

.clipboard_caption {
    margin-left: 5pt;
}

.color_div {
    display: grid;
    grid-template-columns: 50pt 1fr 50pt;
    margin-bottom: 15pt;
}
.color_pallet_area {
    margin: 3pt;
    object-fit: cover;
    padding: 0;
    width: 25pt;
    height: 25pt;
    border-radius: 50%;
    grid-column: 1 / 2;
    overflow: hidden;
}

.color_input {
    margin: 0;
    padding: 0;
    width: 80pt;
    height: 80pt;
    border: none;
    background: none;
    transform: translate(-50%, -50%);
}

.color_pallet_text {
    grid-column: 2 / 3;
}