.main_div {
  margin: 10pt;
  padding: 0;
  width: 100%;
}

.table_main_div {
  display: grid;
  grid-template-columns: 28pt 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  width: calc(100% - 20pt);
}

.main_cell {
  border: 1px solid black;
  padding: 2pt;
  text-align: center;
}

.classcell_main {
  display: grid;
  position: relative;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  height: 70pt;
}

.cell_color {
  color: white;
}

.day_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day_p {
  padding: 0;
  margin: 0;
  font-size: 8pt;
}

.classcell_title {
  font-size: 8pt;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  text-align: center;
  margin: auto 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classcell_subtitle {
  font-size: 7pt;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classcell_teacher {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.classcell_room {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.classcell_online {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.classcell_credit {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  color: white;
  background-color: red;
  border-radius: 10%;
  margin: 0 1pt 0 0;
}

.classcell_category {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  color: white;
  background-color: red;
  border-radius: 10%;
  margin: 0 0 0 1pt;
}

.period_label_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.period_label {
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

.period_label_time {
  margin: 0;
  padding: 0;
  font-size: 8pt;
}

.class_grid_cell {
  position: relative;
  margin: 0;
  padding: 0;
}

.edit_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 12pt;
  height: 12pt;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.delete_button {
  position: absolute;
  top: 0;
  left: 10pt;
  width: 12pt;
  height: 12pt;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.add_button {
  position: absolute;
  top: 0;
  right: -3pt;
  width: 12pt;
  height: 12pt;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.foot_div {
  margin: 10pt 0;
  width: calc(100% - 20pt);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #04CBB0;
  border: solid 1px black;
  color: white;
}

.foot_title_p {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  text-align: center;
}

.foot_class_grid {
  border-top: 1px solid black;
  border-bottom-style: 1px solid black;
  text-align: center;
  height: 28pt;
  font-size: 8pt;
  background-color: white;
}

.foot_edit_button {
  margin: 2pt;
  grid-column: 1;
}

.foot_delete_button {
  margin: 2pt 2pt 2pt 2pt;
  grid-column: 2;
}

.foot_left_grid {
  display: grid;
  grid-template-columns: 12pt 1fr;
}

.foot_right_grid {
  display: grid;
  grid-template-columns: 1fr 14pt;
}

.foot_class_p {
  font-size: 8pt;
  color: black;
}

.foot_add {
  border-top: 1px solid black;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 7;
}

.foot_center {
  grid-column: 2;
  text-align: center;
}