.main_div {
    margin: 10pt;
}

.progress_circle_area {
    width: 75%;
    margin: 10pt auto;
}

.date_time_text {
    font-size: 20pt;
    text-align: center;
    margin: 15pt 0;
}

.remain_text {
    font-size: 20pt;
    text-align: center;
    margin: 15pt 0;
}
