.main_div {
    margin: 10pt;
}

.h2 {
    margin: 5pt 0 0 0;
}

.table_p {
    height: 8pt;
}

.mail_div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 70pt 1fr;
}

.mail_div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 70pt 1fr;
}

.thunderbird_div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 45pt 1fr 45pt;
    text-align: center;
}
